In [46]:
import pandas as pd
import requests

In [1]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/lib/python3.6/site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from beautifulsoup4) (1.8)

In [2]:
!pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/lib/python3.6/site-packages (4.3.0)

In [9]:
source= requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup= BeautifulSoup(source,'lxml')
#print(soup.prettify())

In [5]:
from bs4 import BeautifulSoup

In [11]:
table=soup.find('table')
#print(table.prettify())

In [16]:
tables = pd.read_html(source)
df = pd.DataFrame(tables[0])
df.columns=['Postcode','Borough','Neighbourhood']
#df

In [39]:
df1=df[df.Borough != 'Not assigned']

In [41]:
df2=df1.groupby("Postcode").agg(lambda x:', '.join(set(x)))
df2=df2.reset_index()
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Morningside, Guildwood, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [67]:
location=pd.read_csv('https://cocl.us/Geospatial_data')
df2['Latitude']=location['Latitude']
df2['Longitude']=location['Longitude']
df2.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Morningside, Guildwood, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [42]:
df2.shape

(103, 3)